<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Bungee&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="style.css">

<title>Java:Data Types</title>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand hadingfont" href="/home">EasyLearn</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link " aria-current="page"
						href="/home">Home</a></li>
					<li class="nav-item dropdown ps-3 pe-3"><a
						class="nav-link dropdown-toggle active" href="#"
						id="navbarDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Java </a>
						<ul class="dropdown-menu dropdown-menu-dark"
							aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/TheFormOfACProgram">C</a></li>
							<li><a class="dropdown-item" href="/TheFormOfACProgram">C++</a></li>
							<li><a class="dropdown-item" href="/Introduction">Java</a></li>
							<li><a class="dropdown-item" href="Python/Introduction.html">Python</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link " aria-current="page"
						href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link   "
						aria-current="page" href="/contact">Contact</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
				<div class="mx-2">
					<button type="button" class="btn btn-danger ">Log Out</button>
				</div>
			</div>
		</div>
	</nav>
	<aside id="asidebar" class="oldheight">
		<nav>
			<h3 id="TOC" class="hadingfont text-center">Table of Contents</h3>
			<ul class="list-group tableofcontent">
				<li><a href="/Introduction"
					class="d-inline-flex align-items-center rounded "> An
						Introduction to Java</a>
					<ul>
						<li><a href="/Hello World"
							class="d-inline-flex align-items-center rounded "> Hello
								World program</a></li>
						<li><a href="/JVM-JDK-JRE"
							class="d-inline-flex align-items-center rounded "> JVM, JRE
								and JDK</a></li>
						<li><a href="/Variables"
							class="d-inline-flex align-items-center rounded ">Variables </a>
						</li>
						<li><a href="/DataTypes"
							class="d-inline-flex align-items-center rounded currenttopic">
								Data Types</a></li>
						<li><a href="/Operators"
							class="d-inline-flex align-items-center rounded"> Operators</a></li>
						<li><a href="/InputAndOutput"
							class="d-inline-flex align-items-center rounded"> Input and
								Output</a></li>
						<li><a href="/ExpressionsAndBlocks"
							class="d-inline-flex align-items-center rounded"> Expressions
								& Blocks</a></li>
						<li><a href="/Comments"
							class="d-inline-flex align-items-center rounded"> Comment</a></li>
					</ul></li>
				<li><a href="/FlowControl"
					class="d-inline-flex align-items-center rounded">Flow Control</a>
					<ul>
						<li><a href="/If-Else"
							class="d-inline-flex align-items-center rounded">if...else</a></li>
						<li><a href="/SwitchStatement"
							class="d-inline-flex align-items-center rounded">Switch
								Statement</a></li>
						<li><a href="/ForLoop"
							class="d-inline-flex align-items-center rounded">For Loop</a></li>
						<li><a href="/ForEachLoop"
							class="d-inline-flex align-items-center rounded">For-each
								Loop</a></li>
						<li><a href="/WhileLoop"
							class="d-inline-flex align-items-center rounded">While Loop</a></li>
						<li><a href="/BreakStatements"
							class="d-inline-flex align-items-center rounded">Break
								Statement</a></li>
						<li><a href="/ContinueStatement"
							class="d-inline-flex align-items-center rounded">Continue
								Statement</a></li>
					</ul></li>
				<li><a
					href="../Control of Flow and Logical Expressions/TheTaskAhead.html"
					class="d-inline-flex align-items-center rounded"> Array</a>
					<ul>
						<li><a
							href="../Control of Flow and Logical Expressions/TheTaskAhead.html"
							class="d-inline-flex align-items-center rounded">Java Array</a></li>
						<li><a
							href="../Control of Flow and Logical Expressions/ControlOfFlow.html"
							class="d-inline-flex align-items-center rounded">Multidimentional
								Array</a></li>
						<li><a
							href="../Control of Flow and Logical Expressions/MoreLogicalExpressions.html"
							class="d-inline-flex align-items-center rounded">Copy Array</a></li>
					</ul></li>
				<li><a href="../Functions/Changes.html"
					class="d-inline-flex align-items-center rounded"> OOPS Concept</a>
					<ul>
						<li><a href="../Functions/Changes.html"
							class="d-inline-flex align-items-center rounded"> Classes and
								Objects </a></li>
						<li><a href="../Functions/TheTypeOfFunctions.html"
							class="d-inline-flex align-items-center rounded"> Methods</a></li>
						<li><a href="../Functions/RecursionAndArgumentPassing.html"
							class="d-inline-flex align-items-center rounded"> Access
								Modifiers</a></li>
						<li><a href="../Functions/Linkage.html"
							class="d-inline-flex align-items-center rounded"> Wrapper
								Classes</a></li>
						<li><a href="../Functions/Summery.html"
							class="d-inline-flex align-items-center rounded"> Need of
								Wrapper Classes</a></li>
					</ul></li>
				<li><a href="../Arrays and Pointers/OpeningShots.html"
					class="d-inline-flex align-items-center rounded"> Java
						Exception Handling</a>
					<ul>
						<li><a href="../Arrays and Pointers/OpeningShots.html"
							class="d-inline-flex align-items-center rounded">Exception</a></li>
						<li><a href="../Arrays and Pointers/Arrays.html"
							class="d-inline-flex align-items-center rounded">Exception
								Handling</a></li>
						<li><a href="../Arrays and Pointers/Pointers.html"
							class="d-inline-flex align-items-center rounded">try-catch</a></li>
						<li><a href="../Arrays and Pointers/CharacterHandling.html"
							class="d-inline-flex align-items-center rounded">throw and
								throws</a></li>
						<li><a
							href="../Arrays and Pointers/SizeofAndStorageAllocation.html"
							class="d-inline-flex align-items-center rounded">Catch
								Multiple Exceptions</a></li>
						<li><a href="../Arrays and Pointers/PointersToFunction.html"
							class="d-inline-flex align-items-center rounded">Try with
								resources</a></li>
						<li><a
							href="../Arrays and Pointers/ExpressionInvolvingPointers.html"
							class="d-inline-flex align-items-center rounded">Annotations</a></li>
						<li><a
							href="../Arrays and Pointers/ArraysThe&OperatorAndFunctionDeclaration.html"
							class="d-inline-flex align-items-center rounded">Annotation
								Types</a></li>
						<li><a href="../Arrays and Pointers/Summary.html"
							class="d-inline-flex align-items-center rounded">Logging</a></li>
						<li><a href="../Arrays and Pointers/Exercises.html"
							class="d-inline-flex align-items-center rounded">Assertions</a></li>
					</ul></li>
				<li><a href="../Structured Data Types/History.html"
					class="d-inline-flex align-items-center rounded"> List</a>
					<ul>
						<li><a href="../Structured Data Types/History.html"
							class="d-inline-flex align-items-center rounded">Collections
								Framework</a></li>
						<li><a href="../Structured Data Types/Structure.html"
							class="d-inline-flex align-items-center rounded">Collection
								Interface</a></li>
						<li><a href="../Structured Data Types/Unions.html"
							class="d-inline-flex align-items-center rounded">List
								Interface</a></li>
						<li><a href="../Structured Data Types/Bitfields.html"
							class="d-inline-flex align-items-center rounded">ArrayList</a></li>
						<li><a href="../Structured Data Types/Enums.html"
							class="d-inline-flex align-items-center rounded">Vector</a></li>
						<li><a
							href="../Structured Data Types/QualifiersAndDerivedTypes.html"
							class="d-inline-flex align-items-center rounded">Stack</a></li>
					</ul></li>
				<li><a href="../The Preprocessor/EffectOfTheStandard.html"
					class="d-inline-flex align-items-center rounded">Queue</a>
					<ul>
						<li><a href="../The Preprocessor/EffectOfTheStandard.html"
							class="d-inline-flex align-items-center rounded">Queue
								Interface</a></li>
						<li><a
							href="../The Preprocessor/HowThePreProcessorWorks.html"
							class="d-inline-flex align-items-center rounded">PriorityQueue</a>
						</li>
						<li><a href="../The Preprocessor/Directives.html"
							class="d-inline-flex align-items-center rounded">Deque
								Interface</a></li>
						<li><a href="../The Preprocessor/Summary.html"
							class="d-inline-flex align-items-center rounded">ArrayDeque</a></li>
						<li><a href="../The Preprocessor/Exercises.html"
							class="d-inline-flex align-items-center rounded">BlockingQueue
								Interface</a></li>
						<li><a href="../The Preprocessor/Exercises.html"
							class="d-inline-flex align-items-center rounded">ArrayBlockingQueue
						</a></li>
						<li><a href="../The Preprocessor/Exercises.html"
							class="d-inline-flex align-items-center rounded">LinkedBlockingQueue</a></li>
					</ul></li>
				<li><a
					href="../Specialized Areas of C/GovermentHealthWarning.html"
					class="d-inline-flex align-items-center rounded"> Java Map</a>
					<ul>
						<li><a
							href="../Specialized Areas of C/GovermentHealthWarning.html"
							class="d-inline-flex align-items-center rounded">Map
								Interface</a></li>
						<li><a
							href="../Specialized Areas of C/DeclarationDefinationAndAccessibility.html"
							class="d-inline-flex align-items-center rounded">HashMap</a></li>
						<li><a href="../Specialized Areas of C/Typedef.html"
							class="d-inline-flex align-items-center rounded">LinkedHashMap</a>
						</li>
						<li><a href="../Specialized Areas of C/ConstAndVolatile.html"
							class="d-inline-flex align-items-center rounded">WeakHashMap</a></li>
						<li><a href="../Specialized Areas of C/SequencePoints.html"
							class="d-inline-flex align-items-center rounded">EnumMap</a></li>
						<li><a href="../Specialized Areas of C/Summary.html"
							class="d-inline-flex align-items-center rounded">TreeMap</a></li>
					</ul></li>
				<li><a href="../Libraries/Introduction.html"
					class="d-inline-flex align-items-center rounded"> Java Set</a>
					<ul>
						<li><a href="../Libraries/Introduction.html"
							class="d-inline-flex align-items-center rounded">Java Set
								Interface</a></li>
						<li><a href="../Libraries/Diagnostics.html"
							class="d-inline-flex align-items-center rounded">HashSet</a></li>
						<li><a href="../Libraries/CharacterHandling.html"
							class="d-inline-flex align-items-center rounded">LinkedhashSet</a></li>
						<li><a href="../Libraries/Localization.html"
							class="d-inline-flex align-items-center rounded">TreeSet</a></li>
						<li><a href="../Libraries/Limits.html"
							class="d-inline-flex align-items-center rounded">Algorithms</a></li>
						<li><a href="../Libraries/MathematicalFunction.html"
							class="d-inline-flex align-items-center rounded">Iterator</a></li>
						<li><a href="../Libraries/Non-LocalJumps.html"
							class="d-inline-flex align-items-center rounded">ListIterator</a></li>
					</ul></li>
				<li><a href="../Complete Programs in C/PutItAllTogether.html"
					class="d-inline-flex align-items-center rounded"> Java I/O
						Streams</a>
					<ul>
						<li><a href="../Complete Programs in C/PutItAllTogether.html"
							class="d-inline-flex align-items-center rounded">I/O Streams</a>
						</li>
						<li><a href="../Complete Programs in C/ArgumentToMain.html"
							class="d-inline-flex align-items-center rounded">InputStream</a></li>
						<li><a
							href="../Complete Programs in C/InterpretingProgramArguments.html"
							class="d-inline-flex align-items-center rounded">OutputStream</a></li>
						<li><a
							href="../Complete Programs in C/APatternMatchingProgram.html"
							class="d-inline-flex align-items-center rounded">FileInputStream</a>
						</li>
						<li><a
							href="../Complete Programs in C/AMoreAmbitiousExample.html"
							class="d-inline-flex align-items-center rounded">FileOutputStream</a>
						</li>
						<li><a href="../Complete Programs in C/Afterword.html"
							class="d-inline-flex align-items-center rounded">PrintStream</a></li>
					</ul></li>
				<li><a href="../Complete Programs in C/PutItAllTogether.html"
					class="d-inline-flex align-items-center rounded"> Java
						Reader/Writer</a>
					<ul>
						<li><a href="../Complete Programs in C/PutItAllTogether.html"
							class="d-inline-flex align-items-center rounded">Reader</a></li>
						<li><a href="../Complete Programs in C/ArgumentToMain.html"
							class="d-inline-flex align-items-center rounded">Writer</a></li>
						<li><a
							href="../Complete Programs in C/InterpretingProgramArguments.html"
							class="d-inline-flex align-items-center rounded">FileReader</a></li>
						<li><a
							href="../Complete Programs in C/APatternMatchingProgram.html"
							class="d-inline-flex align-items-center rounded">FileWriter</a></li>
						<li><a
							href="../Complete Programs in C/AMoreAmbitiousExample.html"
							class="d-inline-flex align-items-center rounded">BufferedReader</a>
						</li>
						<li><a href="../Complete Programs in C/Afterword.html"
							class="d-inline-flex align-items-center rounded">BufferedWriter</a></li>
					</ul></li>
			</ul>
		</nav>
	</aside>
	<div style="font-size: 18px; margin-left: 28%;">

		<h1 class="text-center hadingfont p-2">Data Types</h1>

		<h3>Java Data Types</h3>

		<p>As the name suggests, data types specify the type of data that
			can be stored inside variables in Java. Java is a statically-typed
			language. This means that all variables must be declared before they
			can be used.</p>
		<pre>int speed;</pre>

		<p>Here, speed is a variable, and the data type of the variable is
			int. The int data type determines that the speed variable can only
			contain integers. There are 8 data types predefined in Java, known as
			primitive data types.</p>

		<p>
			<b>Note:</b> In addition to primitive data types, there are also
			referenced types (object type).
		</p>
		<h3>8 Primitive Data Types</h3>
		<h4>
			<b>1. Boolean Type</b>
		</h4>
		<ul>
			<li>The boolean data type has two possible values, either true
				or false.</li>
			<li>Default value: false.</li>
			<li>They are usually used for true/false conditions.</li>
		</ul>
		<p><b>Example:</b></p>
		<pre>class Main {
  public static void main(String[] args) {
    	
    boolean flag = true;
    System.out.println(flag);    // prints true
  }
}</pre>
<br>
<br>
        <h4>
			<b>2. Byte Type</b>
		</h4>
		 <ul>
			<li>The byte data type can have values from -128 to 127 (8-bit signed two's complement integer).</li>
			<li>If it's certain that the value of a variable will be within -128 to 127, then it is used instead of int to save memory.</li>
			<li>Default value: 0</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {

    byte range;
    range = 124;
    System.out.println(range);    // prints 124
  }
}</pre>
        
  <br>
<br>      
        <h4>
			<b>3. Short Type</b>
		</h4>
		 <ul>
			<li>The short data type in Java can have values from -32768 to 32767 (16-bit signed two's complement integer).</li>
			<li>If it's certain that the value of a variable will be within -32768 and 32767, then it is used instead of other integer data types (int, long).</li>
			<li>Default value: 0</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {
    	
    short temperature;
    temperature = -200;
    System.out.println(temperature);  // prints -200
  }
}</pre>
 <br>
<br>     
         <h4>
			<b>4. int Type</b>
		</h4>
		 <ul>
			<li>The int data type can have values from -231 to 231-1 (32-bit signed two's complement integer).</li>
			<li>If you are using Java 8 or later, you can use an unsigned 32-bit integer. This will have a minimum value of 0 and a maximum value of 232-1. To learn more, visit How to use the unsigned integer in java 8?</li>
			<li>Default value: 0</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {
    	
    int range = -4250000;
    System.out.println(range);  // print -4250000
  }
}</pre>
<br>
<br>
         <h4>
			<b>5. long Type</b>
		</h4>
		 <ul>
			<li>The long data type can have values from -263 to 263-1 (64-bit signed two's complement integer).</li>
			<li>If you are using Java 8 or later, you can use an unsigned 64-bit integer with a minimum value of 0 and a maximum value of 264-1.</li>
			<li>Default value: 0</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class LongExample {
  public static void main(String[] args) {
    	
    long range = -42332200000L;
    System.out.println(range);    // prints -42332200000
  }
}</pre>
<br>
<br>
         <h4>
			<b>6. double Type</b>
		</h4>
		 <ul>
			<li>The double data type is a double-precision 64-bit floating-point.</li>
			<li>It should never be used for precise values such as currency.</li>
			<li>Default value: 0.0 (0.0d)</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {
    	
    double number = -42.3;
    System.out.println(number);  // prints -42.3
  }
}</pre>
 <br>
<br>       
               <h4>
			<b>7. float type</b>
		</h4>
		 <ul>
			<li>The float data type is a single-precision 32-bit floating-point. Learn more about single-precision and double-precision floating-point if you are interested.</li>
			<li>It should never be used for precise values such as currency.</li>
			<li>Default value: 0.0 (0.0f)</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {
    	
    float number = -42.3f;
    System.out.println(number);  // prints -42.3
  }
}</pre>
<br>
<br>
               <h4>
			<b>8. char type</b>
		</h4>
		 <ul>
			<li>It's a 16-bit Unicode character.</li>
			<li>The minimum value of the char data type is '\u0000' (0) and the maximum value of the is '\uffff'.</li>
			<li>Default value: '\u0000'</li>
		</ul>
        <p>
            <b>Example</b>
        </p>
        <pre>class Main {
  public static void main(String[] args) {
    	
    char letter = '\u0051';
    System.out.println(letter);  // prints Q
  }
}</pre>
        
		

	</div>
	<div class="d-grid gap-4 d-md-block"
		style="margin-left: 374px; margin-bottom: 9px;">
		<a href="/Variables">
			<button id="prev" onmouseenter=mouseevent();
				onmouseleave=mouseleave(); class="btn btn-outline-primary"
				style="width: 166px; height: 44px;" type="button">Previous</button>
		</a> <a href="/Operators">
			<button onmouseenter=mouseevent1(); onmouseleave=mouseleave1();
				class="btn btn-outline-primary" id="next"
				style="margin-left: 64%; width: 166px; height: 44px;" type="button">Next</button>
		</a>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="func.js"></script>


	<!--https://source.unsplash.com/200x200/?technology,programming-->
</body>
<footer class="" style="width: 100%;">
	<ul class="nav justify-content-center border-bottom">
		<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
	</ul>
	<p class="text-center text-muted">© 2021 Company, Inc</p>
</footer>

</html>