<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Bungee&display=swap" rel="stylesheet">
    <title>C</title>
    <style>
      
        .tableofcontent{
            color: white;
            font:18px bold;
           
           
            
            
            
            
        }
        li{
            color: white;
            
        }
       *{
        font-family: 'Arima Madurai', cursive;
        
       }
        a{
            
            color: white;
            text-decoration: none;
            
        }
        footer {
            margin-bottom: 25px;
            background-color: #242527;
        }



        h3 {
            margin-right: 9px;
            font-weight: 22px;
            background-color: aqua;
            color: rgb(146, 20, 20);
       /* background-color: #242527;*/

        }
        
      
        
       
        a:hover{
            padding: 1px;
            background-color: aqua;
            color: black;
        }

       
        
        .hadingfont{
            font-family: 'Bungee', cursive;
        }
    </style>

</head>

<body class="">

    <div class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand hadingfont" href="#">EasyLearn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown ps-3 pe-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                C
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-light" href="#">C</a></li>
                                <li><a class="dropdown-item text-light" href="#">C++</a></li>
                                <li><a class="dropdown-item text-light" href="#">Java</a></li>
                                <li><a class="dropdown-item text-light" href="#">Python</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link   " aria-current="page" href="#">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="mx-2">
                        <button type="button" class="btn btn-danger ">Log Out</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    





    
        <div class="bg-dark ">
            <nav class="">
                <h3 id="TOC" class="hadingfont text-center">Table of Contents</h3>
                <ul class=" tableofcontent">
                    <li><a href="" class="d-inline-flex align-items-center rounded"> An Introduction to C</a>
                        <ul class="">
                            <li><a href="Introduction/TheFormOfACProgram.html" class="d-inline-flex align-items-center rounded currenttopic"> The form of a C program</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Functions</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> A description of Example
                                </a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Some more programs</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Terminology</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Variables and Arithmetic</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Some fundamentals</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">The alphabet of&nbsp;C</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">The Textual Structure of
                                    Programs</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Keywords and identifiers</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Declaration of variables</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Real types</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Integral types</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Expressions and
                                    arithmetic</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Constants</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Control of Flow and Logical
                            Expressions</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">The Task ahead</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Control of flow</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">More logical expressions</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Strange operators</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Functions</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Changes</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> The type of functions</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Recursion and argument
                                    passing</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Linkage</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Arrays and Pointers</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Opening shots</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Arrays</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Pointers</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Character handling</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Sizeof and storage
                                    allocation</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Pointers to functions</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Expressions involving
                                    pointers</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Arrays, the
                                    <code>&amp;</code>
                                    operator and function
                                    declarations</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">5.9. Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">5.10. Exercises</a></li>
                        </ul>

                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Structured Data Types</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">History</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Structures</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Unions</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Bitfields</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Enums</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Qualifiers and derived
                                    types</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Initialization</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> The Preprocessor</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Effect of the Standard</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">How the preprocessor
                                    works</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Directives</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Summary</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Exercises</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Specialized Areas of C</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Government Health
                                    Warning</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Declarations, Definitions
                                    and
                                    Accessibility</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"><code>Typedef</code></a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"><code>Const</code> and
                                    <code>volatile</code></a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Sequence points</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Summary</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Libraries</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Introduction</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Diagnostics</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Character handling</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Localization</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Limits</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Mathematical functions</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Non-local jumps</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Signal handling</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Variable numbers of
                                    arguments</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Input and output</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Formatted I/O</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Character I/O</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Unformatted I/O</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Random access functions</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> General Utilities</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> String handling</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Date and time</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded"> Summary</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded"> Complete Programs in C</a>
                        <ul>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Putting it all together</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Arguments to
                                    <code>main</code></a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Interpreting program
                                    arguments</a></li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">A pattern matching
                                    program</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">A more ambitious example</a>
                            </li>
                            <li><a href="" class="d-inline-flex align-items-center rounded">Afterword</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>




        </div>

       
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <!--https://source.unsplash.com/200x200/?technology,programming-->
</body>
<footer class="py-1 my-4">
    <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
</footer>
<!--
<script>
    window.onscroll=function(){scrollFunction()};

    var header =document.getElementById("TOC");
    var sticky = header.offsetTop;

    function scrollFunction(){
        if(window.pageYOffset > sticky)
        {
            header.classList.add("sticky");
        }else{
            header.classList.remove("sticky");
        }
</script>-->
</html>